.proekt{
    margin-top: 44px;
    display: flex;
}

.filter__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 48px;
}

.filter__tabs{
    display: flex;
}
.filter__tab{
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #828282;
    margin-right: 42px;
    margin-bottom: 32px;
}

.filter__tab:last-child{
    margin-right: 0;
}
.filter__tab.active, .filter__tab:hover{
    color: #000000;
}

@media(min-width: 1450px){
    .proekt{
        margin-left: -32px;
    }
}

.filter__label{
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    display: block;
    color: #737B7D;
    margin-bottom: 13px;
}

.filter{
    flex: 0 0 300px;
    margin-right: 73px;
}

.input-search{
    position: relative;
    input{
        width: 100%;
        height: 48px;
        padding-left: 50px;
        margin-bottom: 0;
    }
    button{
        top: 50%;
        left: 13px;
        transform: translateY(-50%);
        position: absolute;
        background-color: transparent;
        border: 0;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        padding: 0;
    }
    button:hover{
        background-color: #F1F6FA;
    }
}

.filter__row{
    margin-bottom: 27px;
}
.filter__checkboxes{
    margin-bottom: 63px;
    .form-check-input{
        width: 1.3em;
        height: 1.3em;
        border: 2px solid #C3CBCD
    }
    .form-check-input:checked{
        border: 2px solid #0d6efd;
    }
    .form-check-label{
        font-size: 14px;
        line-height: 24px;
        color: #505565;
        padding-left: 8px;
        padding-top: 1px;
    }
    .form-check{
        margin-bottom: 10px;
    }
}

.filter__links{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-top: 15px;
}
.filter__links li{
    list-style: none;
    margin-bottom: 24px;
}
.filter__links a{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #737B7D;
    font-weight: bold;
    transition: 0.3s all;
}

.filter__links a:hover{
    color: #000;
}

.proekt__right{
    flex: 1;
}

.proekt__detail{
    background-color: #fff;
    border-radius: 15px;
}

.proekt__search{
    max-width: 633px;
}

.search__tags{
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

.search__tag{
    padding: 4px 10px;
    background: #DBEEFB;
    border-radius: 40px;
    font-weight: bold;
    font-size: 10px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    color: #3C64B1;
    margin-right: 7px;
    margin-bottom: 10px;
    position: relative;
    button{
        background-color: transparent;
        border: 0;
        padding: 0;
        margin-left: 10px;
    }
}

.proekt__search{
    margin-bottom: 32px;
}

.proekt__name{
    padding: 41px 33px;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #0A243F;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E0E4EF;;
}
.proekt__actios{
    margin-left: 15px;
    display: flex;
}
.selectize-input.dropdown-active::before {
    display: none;
}

.proekt__actios button{
    background: #FFFFFF;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 11px;
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    color: #000;
}

.proekt__actios button:hover, .proekt__actios button:active{
    background-color: #F1F6FA;
    color: var(--color-blue);
}

.proekt__content{
    padding-top: 24px;
    padding-right: 33px;
    padding-left: 33px;
}
.proekt__content__top{
    display: flex;
}
.proekt__content__left{
    flex: 1;
}
.proekt__content__status{
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 4px;
}
.selectize-control.single .selectize-input {
    width: 100%;
    height: 48px;
   
    margin-bottom: 0;
    padding: 0 14px;
    border: 1px solid #d7d6dc;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15);
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
    border-radius: 20px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url('../img/proekt/search.svg');
    background-size: 17.5px;
    background-position: left 19px  center;
    background-repeat: no-repeat;
    padding-left: 50px;
}

.selectize-control.single .selectize-input.dropdown-active {
    border-radius: 20px 20px 0 0;
    border: 2px solid #2b5cfb;
    padding-left: 50px;
}
.selectize-input,.selectize-control.single .selectize-input.input-active {
    display: flex;
    background-color: #fff;
}
.selectize-input>input {
    font-size: 15px;
    line-height: 160%;
    
}
.selectize-input>input::placeholder{
    color: #AFACB9;
}
.selectize-input .item {
    font-size: 15px;
    line-height: 160%;
    letter-spacing: -.015em;
    color: rgba(0,0,0,.8);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden
}

.selectize-control.single .selectize-input.dropdown-active .item {
    display: none
}

.selectize-control.single .selectize-input:after {
    border-color: #a1a4b1 transparent transparent transparent
}

.selectize-dropdown {
    background: #fff;
    border: 1px solid #d7d6dc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15);
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
    border-radius: 4px;
    overflow: hidden
}

.selectize-control {
    height: 48px;
    
}
.selectize-control.single .selectize-input:after{
    display: none;
}
.selectize-dropdown [data-selectable] {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -.015em;
    color: rgba(0,0,0,.6)
}

.selectize-dropdown [data-selectable] .highlight {
    color: #000;
    background-color: transparent
}
.selectize-search{
    position: relative;
}

.selectize-search--another-border{
    .selectize-control.single .selectize-input{
        border-radius: 10px;
    }
    .selectize-control.single .selectize-input.dropdown-active {
        border-radius: 10px 10px 0 0;
    }
}
.custom-select--another-border{
    .select-selected{
        border-radius: 10px;
        border: 1px solid #d7d6dc;
        box-shadow: 0 1px 3px rgb(0, 0, 0,15%);
    }
    .select-selected.select-arrow-active{
        border-radius: 10px 10px 0px 0px;
    }
}