<form class="filter" id="filter-form">
    <div class="filter__title">
        Фильтры
    </div>
    <div class="filter__content">

        <div class="filter__row">
            <label class="filter__label">Специализация эксперта</label>

            <select class="form-select">
                <option value="" hidden selected>Выберите специализацию эксперта</option>
                <option value="1">Пример 1</option>
                <option value="1">Пример 2</option>
            </select>

        </div>
        <div class="filter__row">
            <label class="filter__label">Специализация 2 уровня</label>
            <select class="form-select">
                <option value="" hidden selected>Выберите специализацию</option>
                <option value="1">Пример 1</option>
                <option value="1">Пример 2</option>
            </select>
        </div>

        <div class="filter__row">
            <label class="filter__label">Навыки</label>
            <select class="form-select">
                <option value="" hidden selected>Выберите навыки</option>
                <option value="1">Пример 1</option>
                <option value="1">Пример 2</option>
            </select>
        </div>

        <div class="filter__row">
            <label class="filter__label">Категория бизнеса</label>
            <select class="form-select">
                <option value="" hidden selected>Выберите категорию</option>
                <option value="1">Пример 1</option>
                <option value="1">Пример 2</option>
            </select>
        </div>

        <div class="filter__row">
            <label class="filter__label">Страна</label>

            <select class="form-select">
                <option value="" hidden selected>Выберите страну</option>
                <option value="1">Пример 1</option>
                <option value="1">Пример 2</option>
            </select>
        </div>

        <div class="filter__row">
            <label class="filter__label">Бюджет</label>
            <div class="filter__checkboxes">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked5">
                    <label class="form-check-label" for="flexCheckChecked5">
                        $0 - $100
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked6">
                    <label class="form-check-label" for="flexCheckChecked6">
                        $100 - $500
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked7">
                    <label class="form-check-label" for="flexCheckChecked7">
                        $500 - $1000
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked8">
                    <label class="form-check-label" for="flexCheckChecked8">
                        $1000 +
                    </label>
                </div>
            </div>
        </div>

        <div class="filter__row">
            <ul class="filter__links">
                <li>
                    <button type="submit" class="btn btn-primary">Применить фильтры</button>
                </li>
                <li>
                    <button type="button">Сохранить фильтры</button>
                </li>
                <li>
                    <button type="button">Мои фильтры</button>
                </li>
            </ul>
        </div>
    </div>
</form>

<script>
    document.getElementById('filter-form').addEventListener('submit', function (e) {
        e.preventDefault()
        console.log('Усе ок!')
    })
</script>