<footer class="footer">
    <div class="wrap">
        <div class="footer__wrap">
            <div class="footer__left">
                <a href="">
                    <img src="./img/header/logo-f.svg">
                </a>
            </div>
            <div class="footer__right">
                <nav class="footer__right__nav">
                    <div class="f-col">
                        <div class="title">Условия</div>
                        <ul>
                            <li>
                                <a href="">Управление проектом</a>
                            </li>
                            <li>
                                <a href="">Оплата</a>
                            </li>
                            <li>
                                <a href="">Условия использования</a>
                            </li>
                            <li>
                                <a href="">Политика конфиденциальности</a>
                            </li>
                            <li>
                                <a href="">Безопасность и защита платежей</a>
                            </li>
                            <li>
                                <a href="">Помощь</a>
                            </li>
                        </ul>
                    </div>
                    <div class="f-col">
                        <div class="title">Компания</div>
                        <ul>
                            <li>
                                <a href="">О нас</a>
                            </li>
                            <li>
                                <a href="">Наша миссия</a>
                            </li>
                            <li>
                                <a href="">Контакты</a>
                            </li>
                            <li class="last-li">
                                <a href="">Служба поддержки</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="footer__wrap__bot">
            <div class="footer__copy">
                © Expertland, Inc. 2022. We love our users!
            </div>

            <div class="footer__soc">
                <div class="footer__soc__text">
                    Мы в соц сетях:
                </div>
                <ul>
                    <li>
                        <a href="">
                            <svg width="25px" height="25px">
								<use xlink:href="./img/sprite.svg#linkedin"></use>
							</svg>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg width="35px" height="35px" style="margin-top: 10px">
								<use xlink:href="./img/sprite.svg#fb"></use>
							</svg>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg width="35px" height="35px">
								<use xlink:href="./img/sprite.svg#inst"></use>
							</svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>