<header class="header">
	<div class="wrap">
		<div class="header__wrap">
			<div class="header__left">
				<a href="" class="header__logo">
					<img src="./img/header/logo.svg">
					ExpertLand
				</a>

				<form class="header__search">
					<input type="text" placeholder="Найти работу">
					<button type="button">
						<svg width="17.5px" height="17.5px">
							<use xlink:href="./img/sprite.svg#search"></use>
						</svg>
					</button>
				</form>
			</div>
			<div class="header__right">
				<button type="button" class="header__right__btn header__right__btn--search" id="open-search">
					<svg width="20px" height="20px" class="open">
						<use xlink:href="./img/sprite.svg#search"></use>
					</svg>
					<svg width="20px" height="20px" class="close">
						<use xlink:href="./img/sprite.svg#close"></use>
					</svg>
				</button>
				<a href="" class="header__right__btn">
					<svg width="20px" height="20px">
						<use xlink:href="./img/sprite.svg#mess"></use>
					</svg>
				</a>
				<a href="" class="header__right__btn">
					<svg width="20px" height="20px">
						<use xlink:href="./img/sprite.svg#notific"></use>
					</svg>
				</a>
				<a href="" class="header__right__btn">
					<svg width="20px" height="20px">
						<use xlink:href="./img/sprite.svg#settings"></use>
					</svg>
				</a>
				<div class="person">
					<button class="person__menu" type="button" id="person__menu__btn">
						<div class="avatar">
							<img width="48px" height="48px" src="./img/header/avatar.jpg">
						</div>
						<div class="person__menu__v">
							<svg width="14px" height="7px">
								<use xlink:href="./img/sprite.svg#v"></use>
							</svg>
						</div>
					</button>
					<nav class="person__nav">
						<ul>
							<li>
								<a href="">Редактировать Профиль</a>
							</li>
							<li>
								<a href="">Способ Оплаты</a>
							</li>
							<li>
								<a href="">Переключить на аккаунт заказчика</a>
							</li>
						</ul>
						<div class="person__nav__line"></div>
						<ul>
							<li>
								<a href="">Помощь</a>
							</li>
							<li>
								<a href="">Выход</a>
							</li>
						</ul>
					</nav>
				</div>
				
			</div>
		</div>
	</div>
</header>
