<div class="top-search">
    <div class="top-search__left">
        <nav class="prpb__breadcrumb">
            <ul>
                <li>
                    <a href="">Главная</a>
                </li>
                <li>
                    <span>Профиль</span>
                </li>
            </ul>
        </nav>
    </div>
    <div class="top-search__right">
        <div class="proekt__search">
            <div class="proekt__search__wrap">
                <div class="selectize-search selectize-search--another-border">
                    <svg width="17.5px" height="17.5px" class="top-search__icon">
                        <use xlink:href="./img/sprite.svg#search"></use>
                    </svg>
                    <select class="js-selectize" placeholder="Найти эксперта">
                        <option value="" selected="selected"></option>
                        <option>Пример 1</option>
                        <option>Пример 2</option>
                        <option>Очень много букв пример Очень много букв пример для теста чень много
                            букв пример для теста
                        </option>

                    </select>
                </div>

                <button type="button" class="btn btn-primary top-search__btn">
                    Поиск
                </button>
            </div>
        </div>
    </div>

</div>