// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
:root{
    --color-red: rgba(235, 87, 87, 1); 
    --color-dark: #0A243F;
    --color-grey: #8B90A0;
    --color-blue: #0F47C0;
}
body,html{
    height: 100%;
}
.app{
    display: flex;
    flex-direction: column;
    height: 100%;
}
body{
    min-width: 320px;
}
.main{
    flex: 1;
}
.wrap {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1410px;
}
@media(max-width: 1450px){
    .wrap{
        max-width: 1310px;
    }
}
@media(max-width: 374px){
    .wrap{
        padding: 0 15px;
    }
}
.btn-outline-primary{
    border: 1px solid #D7D6DC;
}
.tabs__item{
    display: none;
}
.tabs__item:first-child{
    display: block;
}

.tabs__item.active{
    display: block;
}
.fancybox__container{
    z-index: 1060;
}
.exp-modal-prof--portfolio{
    z-index: 1059;
}
// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";
@import "./components/about";
@import "./components/resume";
@import "./components/portfolio";
@import "./components/proekt";
@import "./components/statistic";
@import "./components/profile";
@import "./components/application";
@import "./components/company";
@import "./components/auth";
@import "./components/customs";