.js-selectize--mini-input .selectize-control.single .selectize-input {
  background-image: none !important;
  padding-left: 15px;
  height: 40px;
  border: 1px solid #A1A4B1;
  box-shadow: none;
}

.exp-modal__file {
  width: 420px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
  cursor: pointer;
  padding: 20px;
  padding-top: 10px;
  margin-bottom: 15px;
}
.exp-modal__file .text {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #001828;
}
.exp-modal__file svg {
  max-width: 100%;
}
.exp-modal__file .file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.exp-modal__file .text-edit {
  display: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #18A0FB;
  margin-left: 45px;
}
.exp-modal__file .text2 {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  max-width: 325px;
  margin: 0 auto;
}
.exp-modal__file .text2 span {
  font-weight: bold;
  margin: 15px 0;
  display: block;
}
.exp-modal__file .img {
  display: none;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.exp-modal__file .upload-input {
  display: none;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.exp-modal__file {
  border: 1px solid transparent;
  border-radius: 20px;
  transition: 0.1s all;
}

.exp-modal__file:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(15, 71, 192, 0.5);
}

.exp-modal-pic .exp-modal__addProect {
  padding-top: 30px;
}

.exp-modal__file.upload {
  display: block;
}
.exp-modal__file.upload svg {
  display: none;
}
.exp-modal__file.upload .img {
  display: block;
}
.exp-modal__file.upload .upload-input {
  display: block;
}
.exp-modal__file.upload .text-edit {
  display: block;
}
.exp-modal__file.upload .text2 {
  display: none;
}

#yourId {
  width: 200px;
  height: 150px;
  position: relative;
  /* or fixed or absolute */
}

.exp-modal__file .upload-input {
  max-height: 350px;
  max-width: 100%;
}

.croppie-container .cr-slider-wrap {
  position: relative;
  z-index: 5;
}

.croppie-container .cr-boundary {
  max-width: 100%;
}

.cr-slider {
  cursor: -webkit-grab;
  cursor: grab;
}

.yellow-error {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #F2A60D;
}

.formpic__wrap {
  max-width: 764px;
}

.formpic__wrap__skills {
  background: #FFFFFF;
  border: 1px solid #D7D6DC;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  margin-top: 15px;
}

input.yellow-error-input {
  border: 2px solid #F2A60D;
}

input.yellow-error-input::-moz-placeholder {
  color: #F2A60D;
}

input.yellow-error-input:-ms-input-placeholder {
  color: #F2A60D;
}

input.yellow-error-input::placeholder {
  color: #F2A60D;
}

@media (max-width: 767px) {
  .exp-modal-footer .upload-wrap__btns {
    justify-content: flex-start;
  }
}
.period {
  display: flex;
  flex-wrap: wrap;
}
.period .period-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.period .period-wrap .custom-select {
  width: 150px;
  margin-right: 15px;
  margin-left: 10px;
  font-weight: 500;
}
.period .period-wrap .form-select {
  width: 150px;
  margin-right: 15px;
  margin-left: 10px;
  font-weight: 500;
}

.period--langs .period-wrap .custom-select, .period--langs .period-wrap .form-select {
  margin-left: 0;
}

.expirience-blocks-new .expirience-block {
  margin-top: 25px;
  margin-bottom: 25px;
}

.expirience-blocks-lang-new .expirience-block {
  margin-top: 25px;
  margin-bottom: 25px;
}

.exp-modal__addProect.exp-modal__addProect--about {
  padding-bottom: 0px;
}

.top-search {
  display: flex;
  flex-wrap: wrap;
}
.top-search .prpb__breadcrumb {
  margin-left: 0;
}
.top-search .proekt__search {
  max-width: 100%;
}

.top-search__icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  z-index: 2;
}

@media (min-width: 1450px) {
  .top-search {
    margin-left: -32px;
  }
}
.top-search__left {
  flex: 0 0 300px;
  margin-right: 73px;
}

.top-search__right {
  flex: 1;
}

.proekt__search__wrap {
  display: flex;
  flex-wrap: wrap;
}
.proekt__search__wrap .add-skills__tags {
  width: 100%;
  order: 2;
}
.proekt__search__wrap .selectize-search {
  flex: 1;
  position: relative;
}
.proekt__search__wrap .selectize-search .selectize-control {
  height: 48px;
}
.proekt__search__wrap .selectize-search .selectize-control.single .selectize-input {
  height: 48px;
  padding-left: 41px;
  border-radius: 20px;
}
.proekt__search__wrap .selectize-search .selectize-control.single .selectize-input.dropdown-active {
  border-radius: 20px 20px 0 0;
}

.top-search__btn {
  width: 269px;
  margin-left: 10px;
  height: 48px;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}

@media (max-width: 1300px) {
  .top-search__left {
    margin-right: 25px;
  }

  .top-search__btn {
    width: 200px;
  }
}
@media (max-width: 991px) {
  .top-search {
    flex-direction: column;
  }

  .top-search__left {
    flex: auto;
    margin-bottom: 15px;
    margin-right: 0;
  }

  .top-search__right {
    flex: auto;
  }
}
@media (max-width: 767px) {
  .top-search__btn {
    font-size: 16px;
    width: 150px;
  }

  .proekt__search {
    margin-bottom: 0;
  }
}
@media (max-width: 500px) {
  .proekt__search__wrap {
    flex-direction: column;
  }

  .selectize-search {
    order: 1;
  }

  .top-search__btn {
    width: 100%;
    order: 3;
    margin-left: 0;
    height: 45px;
    margin-top: 5px;
    line-height: 1;
  }
}
.proekt__right__newTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 14px;
  margin-top: 18px;
}

.proekt__search {
  margin-bottom: 27px;
}

.proekt {
  margin-top: 0;
}

.proekt__right {
  margin-top: 38px;
}

.filter .custom-select--another-border .select-selected {
  border-radius: 20px;
}
.filter .custom-select--another-border .select-selected.select-arrow-active {
  border-radius: 20px 20px 0 0;
}

.proekt__list__new {
  padding-left: 93px;
}
.proekt__list__new .proekt__list__item {
  padding-bottom: 12px;
  padding-top: 30px;
}
.proekt__list__new .proekt__content__person {
  position: relative;
}
.proekt__list__new .proekt__content__tags__item {
  text-align: left;
}
.proekt__list__new .proekt__location {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
}
.proekt__list__new .proekt__location svg {
  color: #0F47C0;
}
.proekt__list__new .proekt__content__tags {
  max-width: initial;
}
.proekt__list__new .proekt__content__text {
  max-width: initial;
}
.proekt__list__new .proekt__more {
  padding-bottom: 40px;
}
.proekt__list__new .proekt__more .btn {
  padding: 8px 37px;
}

.proekt__rating {
  color: #0A243F;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.proekt__rating svg {
  margin-right: 12px;
}

.proekt__rating__count {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #0A243F;
  margin-top: 2px;
}

.proekt__content__bot__new {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.proekt__content__bot__new .btn {
  font-size: 14px;
}
.proekt__content__bot__new .proekt__chat {
  margin-bottom: 0;
  margin-right: 29px;
  display: flex;
  align-items: center;
  font-family: "Mulish";
}

.proekt__pagination {
  padding-bottom: 45px;
}
.proekt__pagination ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.proekt__pagination ul li {
  list-style: none;
  margin: 0 8px;
}
.proekt__pagination ul a {
  padding: 8px 16px;
  background: #DBEEFB;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #3C64B1;
  display: block;
}
.proekt__pagination ul a:hover {
  background: #a1d1f2;
}

@media (min-width: 1350px) {
  .proekt__list__new .proekt__content__avatar {
    position: absolute;
    left: -8px;
    transform: translateX(-100%);
    top: 0;
  }
}
@media (max-width: 1350px) {
  .proekt__list__new {
    padding-left: 32px;
  }
}
@media (max-width: 767px) {
  .proekt__list__new {
    padding-left: 20px;
  }
}
@media (max-width: 575px) {
  .proekt__actios {
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=customs.css.map */
